@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Sarpanch:wght@400;500;600;700;800;900&family=Syne+Mono&family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Luckiest+Guy&family=Sarpanch:wght@400;500;600;700;800;900&family=Syne+Mono&family=Yatra+One&display=swap');

html{ 
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#mainLanding {
    background-image: linear-gradient(to bottom right, rgba(201, 179, 127, 0.5), rgba(201, 179, 127, 0.8)), url('https://mahmud-isaacs.github.io/ecomHostedImages/retroWallparer.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #D95E4C;
}

.headings-container {
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

@keyframes flicker {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.8;
    }
}

h1 {
    color: #5F7048;
    font-family: "Luckiest Guy", cursive;
    font-weight: 800;    
    font-size: 10rem;
    text-shadow: 0.08em 0 whitesmoke, 0.08em 0.08em whitesmoke, 0 0.08em whitesmoke, -0.08em 0.08em whitesmoke, -0.0em 0 whitesmoke, -0.08em -0.08em whitesmoke, 0 -0.08em whitesmoke, 0.08em -0.08em whitesmoke;
    margin-bottom: 10px;
    position: relative;
    animation: flicker 3s infinite;
}
p {
    font-family: "Yatra One", system-ui;
}

#indexHeading {
    left: 0;
    top: 100%;
    color: #4D7D89;
    font-size: 3rem; 
    text-shadow: 1px 1px 2px black;
    transition: transform 0.3s ease-in-out;
}

#indexHeading:hover {
    transform: scale(1.2);
}
.carousel-wider {
    width: 90%;
    height: 50%;
}

.carousel-img {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.imageLogo {
    width: 40px;
    height: 40px;
}

.cartLogo {
    width: 30px;
    height: 30px;
}

footer {
    text-align: center;
    background-color: #B08B59;
    padding: 8px;
    width: 100%;
}

.instaLogo {
    width: 30px;
    height: 30px;
    align-items: end;
    justify-content: right;
    mix-blend-mode: multiply;
}

.twitterLogo {
    width: 30px;
    height: 30px;
    object-fit: cover;
    mix-blend-mode: multiply;
}

.cardItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card {
    background-color: rgba(176, 139, 89, 0.8); 
    color: white; 
    border: none; 
    border-radius: 20px; 
    width: 100%;
    max-width: 400px; 
}

.card-title {
    color: #D95E4C;
    text-shadow: 1px 1px 3px black; 
}

.card-body {
    text-align: center;
}

.containerAbout {
    background-image: linear-gradient(to bottom right, rgba(201, 179, 127, 0.5), rgba(201, 179, 127, 0.8)), url('https://mahmud-isaacs.github.io/ecomHostedImages/model.jpeg');
    background-size: cover;
    background-position: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 20px 0;
}

h2 {
    color: #D95E4C;
    font-family: 'Coda Caption', sans-serif;
    font-weight: 800;    
    font-size: 5rem;
    text-shadow: 0.08em 0 black, 0.08em 0.08em black, 0 0.08em black, -0.08em 0.08em black, -0.0em 0 black, -0.08em -0.08em black, 0 -0.08em black, 0.08em -0.08em black;
    margin-bottom: 20px;
    text-align: center;
}

.pad {
    padding: 20px;
}

.about-container {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
}

.productsPage {
    background-image: linear-gradient(to bottom right, rgba(201, 179, 127, 0.5), rgba(201, 179, 127, 0.8)), url('https://mahmud-isaacs.github.io/ecomHostedImages/retroWallparer.jpg');
    background-size: cover;
    background-position: center;
}

.nav-link {
    color: #D95E4C;
    margin-left: 8rem;
}

#indexTag {
    color: #d39800;
    text-shadow: 2px 2px 2px black;
}

#checkoutBnt {
    background-color: white;
    color: #5F7048;
    border-radius: 10px;
    font-family: "Yatra One", system-ui;
    font-size: 20px;
    border: 2px solid #04AA6D;
}

.cont-img {
    height: 40rem;
    object-fit: cover;
}

#infoPara {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "Big Shoulders Display", sans-serif;
}

.instaLogoContact {
    width: 20px;
    height: 20px;
    align-items: end;
    justify-content: right;
    mix-blend-mode: multiply;
}

.twitterLogoContact {
    width: 20px;
    height: 20px;
    align-items: end;
    justify-content: center;
    mix-blend-mode: multiply;
    object-fit: cover;
}

.contactMain {
    color: #5F7048;
    font-family: "Luckiest Guy", cursive;
    font-weight: 800;    
    font-size: 10rem;
    text-shadow: 0.08em 0 whitesmoke, 0.08em 0.08em whitesmoke, 0 0.08em whitesmoke, -0.08em 0.08em whitesmoke, -0.0em 0 whitesmoke, -0.08em -0.08em whitesmoke, 0 -0.08em whitesmoke, 0.08em -0.08em whitesmoke;
    margin-bottom: 10px;
    position: relative;
    /* background-color: #B08B59; */
}

#contactPage {
    background-color: rgb(239, 213, 177);
}

#contactLink {
    text-decoration: none;
    color: #5F7048
}

.submitBnt {
    background-color: #5F7048;
    color: black;
}

.submitBnt:hover {
    background-color: #839b62;
}

#contactLink:hover {
    color: #839b62;
}

.center-table {
    margin: 0 auto;
    width: 80%;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    background-color: transparent;
    border-collapse: collapse;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
    border: 3px solid #B08B59;
    padding: .75rem;
    vertical-align: top;
}

.small-img {
    width: 100px; 
    height: auto; 
}

main {
    padding: 2rem;
}

.addAdminbnt {
    justify-content: left;
    align-self: flex-end;
    background-color: #4D7D89;
}

.adminMain {
    background-color: antiquewhite;
}

.searchBnt {
    background-color: #5F7048;
    color: aliceblue;
}

.searchBnt:hover {
    background-color: #4D7D89;
}

@media screen and (max-width: 300px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    #indexHeading {
        font-size: 1rem;
    }

    .nav-link {
        margin-left: 0.2rem;
        font-size: 0.8rem;
    }

    .carousel-img {
        height: 60px;
        width: 60px;
    }

    .containerMain {
        padding: 0.2rem;
    }

    .footer-content h6 {
        font-size: 0.6rem;
    }

    .socialLinks img {
        width: 15px;
        height: 15px;
    }

    .navbar-toggler {
        margin-left: auto;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }

    .nav-link {
        margin-left: 0;
        margin-bottom: 0.5rem;
    }

    .carousel-wider {
        width: 100%;
    }

    .carousel-caption h5 {
        font-size: 0.8rem;
    }
}